<h1>Homepage</h1>
<hr/>

<%= link_to root_path do %>
  <i class="fa-solid fa-house"></i>
  Home
<% end %>
<p>
<%= link_to contact_path do %>
  <i class="fa-solid fa-address-card"></i>
  Contact
<% end %>
